
!
! No configuration change since last restart
version 15.1
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname R_BC
!
boot-start-marker
boot-end-marker
!
!
enable password password
!
no aaa new-model
!
no ipv6 cef
ip source-route
ip cef
!
!
!
!
ip dhcp pool BC_OFFICE_POOL
 network 172.16.10.0 255.255.255.0
 default-router 172.16.10.1 
 dns-server 172.16.15.10 
 domain-name bc.abc.com
!
!
no ip domain lookup
ip domain name bc.abc.com
multilink bundle-name authenticated
!
!
crypto pki token default removal timeout 0
!
!
license udi pid CISCO2901/K9 sn FCZ162890FZ
!
!
!
!
!
!
!
!
interface Embedded-Service-Engine0/0
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 ip address 10.10.20.2 255.255.255.252
 duplex auto
 speed auto
!
interface GigabitEthernet0/1
 no ip address
 duplex auto
 speed auto
!
interface GigabitEthernet0/1.10
 encapsulation dot1Q 10
 ip address 172.16.10.1 255.255.255.0
!
interface GigabitEthernet0/1.15
 encapsulation dot1Q 15
 ip address 172.16.15.1 255.255.255.0
!
interface GigabitEthernet0/1.20
 encapsulation dot1Q 20
 ip address 172.16.20.1 255.255.255.0
!
interface GigabitEthernet0/1.77
 encapsulation dot1Q 77
 ip address 172.16.77.1 255.255.255.0
!
interface GigabitEthernet0/1.99
 encapsulation dot1Q 99
 ip address 172.16.99.1 255.255.255.0
!
interface Serial0/3/0
 no ip address
 shutdown
 no fair-queue
 clock rate 2000000
!
interface Serial0/3/1
 no ip address
 shutdown
 clock rate 2000000
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 GigabitEthernet0/0
!
!
!
!
control-plane
!
!
!
line con 0
line aux 0
line 2
 no activation-character
 no exec
 transport preferred none
 transport input all
 transport output pad telnet rlogin lapb-ta mop udptn v120 ssh
 stopbits 1
line vty 0 4
 password password
 login
 transport input all
!
scheduler allocate 20000 1000
end
